<div class="container mx-auto">
  <div class="row align-items-start">
    <div class="col">
      <div
        class="card border border-info p-2 mb-2 rounded-5"
        style="width: 18rem"
        id="usuarios"
      >
        <div class="card-body">
          <div *ngFor="let a of myUsers">
            <ul class="list-group list-group-flush">
              <li
                class="list-group-item"
                style="color: rgb(28, 129, 23); font-weight: bold"
              >
                {{ a.id }} entraste en la sala
              </li>
            </ul>
          </div>
          <div *ngFor="let a of myUsersleft">
            <ul class="list-group list-group-flush">
              <li
                class="list-group-item"
                style="color: rgb(124, 1, 1); font-weight: bold"
              >
                {{ a.id }} saliste de la sala
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <label for="" id="cabeza">
        Tu Nickname es:
        <span style="font-weight: bold">{{ userChat.user }}</span></label
      >

      <label id="cabeza"
        >Mensajes enviados:
        <span style="font-weight: bold">{{ messagecont }}</span>
      </label>
      <div class="mt-3" id="mensajes">
        <div *ngFor="let message of myMessages">
          <label class="" style="font-weight: bold" for="" id="mensaje"
            >{{ message.user }}:
          </label>
          <span>{{ message.text }}</span>
          <span class="text-primary border-bottom opacity-75 fst-italic ">.Time:{{message.tiempo | date:'mediumTime'}}</span>
        </div>
      </div>
      <form (ngSubmit)="myMessage()" id="formulario">
        <input
          type="text"
          id="entrada"
          class="form-control rounded-3"
          [(ngModel)]="userChat.text"
          [ngModelOptions]="{ standalone: true }"
          placeholder="Escribe un mensaje aquí"
        />
        <input
          type="submit"
          id="boton"
          class="btn btn-primary"
          value="Guardar"
        />
      </form>
    </div>
    <div class="col">
        <input type="submit" (click)="salir()" id="cerrar" class="btn btn-danger" value="Salir" />
    </div>
  </div>
</div>
